In [1]:
import numpy as np
import pandas as pd

In [3]:
 data = np.zeros([3,3])

In [4]:
data

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [5]:
data2 = np.zeros((3,3))

In [6]:
data2

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [7]:
index = ['row1','row2','row3']
column = ['col1','col2','col3']

In [8]:
dataf = pd.DataFrame(data,index,column)

In [9]:
dataf

      col1  col2  col3
row1   0.0   0.0   0.0
row2   0.0   0.0   0.0
row3   0.0   0.0   0.0